@import "./sass/components";
@import url('https://fonts.googleapis.com/css?family=Cinzel|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette|Satisfy&display=swap');


html, body{
    margin: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}
/*  
    font-family: 'Montserrat', sans-serif;
    font-family: 'Cinzel', serif; 
    fc4
*/

